{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block header %}
        {% include "AndonMesinApp/Base/header.html" %}
    {% endblock header %}
    <body class="sb-nav-fixed">

        {% block navbar %}
            {% include "AndonMesinApp/Base/navbar.html" %}
        {% endblock navbar %}

        <div id="layoutSidenav">
            
            {% block sidebar %}
                {% include "AndonMesinApp/Base/sidebar.html" %}
            {% endblock sidebar %}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Downtime L<span class="text-danger">o</span>gger</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Machine</li>
                        </ol>
                        
                        <div class="row" hx-get="{% url 'async_card' %}" hx-trigger="load, every 2s">
                        </div>
                    </div>
                </main>
                {% block footer %}
                    {% include "AndonMesinApp/Base/footer.html" %}
                {% endblock footer %}
            </div>
        </div>

        {% block javascript %}
            {% include "AndonMesinApp/Base/javascript.html" %}
        {% endblock javascript %}

    </body>
</html>
