{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block header %}
        {% include "AndonMesinApp/Base/header.html" %}
    {% endblock header %}
    <body class="sb-nav-fixed">

        {% block navbar %}
            {% include "AndonMesinApp/Base/navbar.html" %}
        {% endblock navbar %}

        <div id="layoutSidenav">
            
            {% block sidebar %}
                {% include "AndonMesinApp/Base/sidebar.html" %}
            {% endblock sidebar %}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Downtime Logger</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Department</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <div>
                                            <i class="fas fa-chart-area me-1"></i>
                                            Department Register
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form method = "post">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <input class="btn btn-primary" type="submit" value="Submit">
                                            <button class="btn btn-secondary" onclick="window.location.href='{% url 'list_departemen' %}'">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        {% block javascript %}
            {% include "AndonMesinApp/Base/javascript.html" %}
        {% endblock javascript %}

    </body>
</html>
